apiVersion: v1
kind: Namespace
metadata:
  name: "{{ jumpstarter_qemu_exporter_namespace }}"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: "{{ jumpstarter_qemu_exporter_namespace }}"
  name: qemu-exporter
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: "{{ jumpstarter_qemu_exporter_namespace }}"
  name: qemu-exporter-role
rules:
  - apiGroups: ["jumpstarter.dev"]
    resources: ["exporters"]
    verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  namespace: "{{ jumpstarter_qemu_exporter_namespace }}"
  name: qemu-exporter-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: qemu-exporter-role
subjects:
  - kind: ServiceAccount
    name: qemu-exporter
    namespace: "{{ jumpstarter_qemu_exporter_namespace }}"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  namespace: "{{ jumpstarter_qemu_exporter_namespace }}"
  name: system:openshift:scc:privileged
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:privileged
subjects:
- kind: ServiceAccount
  name: qemu-exporter
  namespace: "{{ jumpstarter_qemu_exporter_namespace }}"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: "{{ jumpstarter_qemu_exporter_namespace }}"
  name: qemu-exporter
spec:
  serviceName: qemu-exporter
  podManagementPolicy: Parallel
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: "100%"
  replicas: 40
  selector:
    matchLabels:
      exporter-mock: qemu
  template:
    metadata:
      labels:
        exporter-mock: qemu
      annotations:
        openshift.io/required-scc: privileged
    spec:
      resources:
        limits:
          cpu: 2.0
          memory: "2G"
        requests:
          cpu: 1.0
          memory: "1G"
      tolerations:
      - key: "metal"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - arm64
      serviceAccountName: qemu-exporter
      restartPolicy: Always
      volumes:
        - name: shared
          emptyDir: {}
        - name: dev-kvm
          hostPath:
            path: /dev/kvm
            type: CharDevice
        - name: dev-vhost-vsock
          hostPath:
            path: /dev/vhost-vsock
            type: CharDevice
      initContainers:
        - name: jumpstarter-init
          image: quay.io/jumpstarter-dev/jumpstarter-utils:latest # TODO: pin image version
          volumeMounts:
            - mountPath: /shared
              name: shared
          command:
            - /bin/bash
            - -c
            - |
              set -exo pipefail

              kubectl apply -f - << EOF
              apiVersion: jumpstarter.dev/v1alpha1
              kind: Exporter
              metadata:
                namespace: $(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)
                name: $(cat /etc/hostname)
                labels:
                  example.com/board: qemu
              spec:
                username: kubernetes:$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)
              EOF

              while [ -z "$ENDPOINT" ]
              do
                ENDPOINT=$(kubectl get -n $(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace) \
                  exporters.jumpstarter.dev $(cat /etc/hostname) -o jsonpath="{.status.endpoint}")
                sleep 1s
              done
              echo "$ENDPOINT" > /shared/endpoint
      containers:
        - name: jumpstarter-exporter
          image: quay.io/ncao/jumpstarter:summit-aarch64 # TODO: use an arm based image
          imagePullPolicy: Always
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /shared
              name: shared
            - mountPath: /dev/kvm
              name: dev-kvm
            - mountPath: /dev/vhost-vsock
              name: dev-vhost-vsock
          env:
            - name: JUMPSTARTER_GRPC_INSECURE
              value: "1"
          command:
            - /bin/bash
            - -c
            - |
              set -euxo pipefail

              cat <<EOF > qemu.yaml
              apiVersion: jumpstarter.dev/v1alpha1
              kind: ExporterConfig
              metadata:
                namespace: $(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)
                name: $(cat /etc/hostname)
              endpoint: $(cat /shared/endpoint)
              token: $(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
              export:
                qemu:
                  type: jumpstarter_driver_qemu.driver.Qemu
                  config:
                    mem: "1G"
              EOF

              jmp run --exporter-config qemu.yaml
